/* 
::before ::after pseudo-elements creates element and inserts before and after CONTENT
content:'' - required
img --- does not work
*/



p::before{
   content: "Dear Student, "; 
   display: block;
   background: #222;
   color: aliceblue;
   font-size: large;
}

p::after{
    content: ""; 
    display: block;
    background: #222;
    color: aliceblue;
    font-size: large;
    height: 5rem;
    /* width: 100%; */
}